In [2]:
import pandas as pd
import numpy as np
import re
import warnings
warnings.filterwarnings('ignore')

In [4]:
# Q1. Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

target_string = 'Python Exercises, PHP exercises.'
result = re.sub(r"[,.,\s]", ":", target_string)
print(result)

Python:Exercises::PHP:exercises:

In [15]:
# Question 2 
Dict = {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df = pd.DataFrame(Dict)
df

                  SUMMARY
0           hello, world!
1              XXXXX test
2  123four, five:; six...

In [14]:
# Q2. Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
#Dictionary-{'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}

df['SUMMARY'] = df['SUMMARY'].apply(lambda d: ' '.join(text for text in re.findall(r"\b\w+\b", re.sub(r"[,!;:]+", '', d)) if text != 'XXXXX'))
print(df)

            SUMMARY
0       hello world
1              test
2  123four five six

In [17]:
# Q3. Create a function inpython to find all words that are at least 4 characters long in a string.The use of the re.compile() method is mandatory.

target_string = "Data science is the study of data to extract meaningful insights for business."
string_pattern = r"\w{4,}"
regex_pattern = re.compile(string_pattern)
resultant_string = regex_pattern.findall(target_string)

In [18]:
# Q3.ata 
string_1 = "Dscience is multidisciplinary approch that combines principles and practices from the fields of math, stats, AI, computer engineering to analyze large amounts of data."
result = regex_pattern.findall(string_1)
print(result)

['Data', 'science', 'multidisciplinary', 'approch', 'that', 'combines', 'principles', 'practices', 'from', 'fields', 'math', 'stats', 'computer', 'engineering', 'analyze', 'large', 'amounts', 'data']

In [27]:
# Q4. Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

target_string = "Data science is the study of data to extract meaningful insights for business."
string_pattern = r"\w{3,5}"
regex_pattern = re.compile(string_pattern)
result_string = regex_pattern.findall(target_string)

In [28]:
# Q4. 

string_2 = "Data science is multidisciplinary approch that combines principles and practices from the fields of math, stats, AI, computer engineering to analyze large amounts of data."
result_1 = regex_pattern.findall(string_2)
print(result_1)

['Data', 'scien', 'multi', 'disci', 'plina', 'appro', 'that', 'combi', 'nes', 'princ', 'iples', 'and', 'pract', 'ices', 'from', 'the', 'field', 'math', 'stats', 'compu', 'ter', 'engin', 'eerin', 'analy', 'large', 'amoun', 'data']

In [29]:
# Q5.Create a function in Python to remove the parenthesis in a list of strings.The use of the re.compile() method is mandatory.
# Sample Text:["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

sample_text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
pattern = re.compile(r'\(([^)]*)\)')
output_text = [pattern.sub(r'\1', words) for words in sample_text]
for item in output_text:
    print(item)

example .com
hr@fliprobo .com
github .com
Hello Data Science World
Data Scientist

In [30]:
# Q6. Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
# Sample Text:["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

sample_text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
pattern = re.compile(r'\([^)]*\)')
output_text = [pattern.sub('',words) for words in sample_text]
for item in output_text:
    print(item)

example
hr@fliprobo
github
Hello
Data

In [31]:
# Q7. Write a regular expression in Python to split a string into uppercase letters.
# Sample text: “ImportanceOfRegularExpressionsInPython”

sample_text = "ImportanceOfRegularExpressionsInPython"
result_1 = re.findall('[a-z]+|[A-Z][a-z]*', sample_text)
print(result_1)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [32]:
# Q8. Create a function in python to insert spaces between words starting with numbers.
# Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"

sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"
pattern_text = re.compile(r"(?<=\D)(\d+)")
result_text = re.sub(pattern_text, r" \1", sample_text)
print(result_text)

RegularExpression 1IsAn 2ImportantTopic 3InPython

In [33]:
# Q9. Create a function in python to insert spaces between words starting with capital letters or with numbers.
# Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"

target_string = "RegularExpression1IsAn2ImportantTopic3InPython"
pattern_text = re.compile(r"([A-Z0-9])")
result_string = re.sub(pattern_text,r' \1', target_string)
print(result_string)

 Regular Expression 1 Is An 2 Important Topic 3 In Python

In [35]:
# Q10. Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.

text_link = "https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv"
df = pd.read_csv(text_link)

In [36]:
df['first_five_letters'] = df['Country'].str[:6]
print(df.head())

       Country          Region  Happiness Rank  Happiness Score  \
0  Switzerland  Western Europe               1            7.587
1      Iceland  Western Europe               2            7.561
2      Denmark  Western Europe               3            7.527
3       Norway  Western Europe               4            7.522
4       Canada   North America               5            7.427

   Standard Error  Economy (GDP per Capita)   Family  \
0         0.03411                   1.39651  1.34951
1         0.04884                   1.30232  1.40223
2         0.03328                   1.32548  1.36058
3         0.03880                   1.45900  1.33095
4         0.03553                   1.32629  1.32261

   Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
0                   0.94143  0.66557                        0.41978
1                   0.94784  0.62877                        0.14145
2                   0.87464  0.64938                        0.48357
3                   0.88521  0.66973                        0.36503
4                   0.90563  0.63297                        0.32957

   Generosity  Dystopia Residual first_five_letters
0     0.29678            2.51738             Switze
1     0.43630            2.70201             Icelan
2     0.34139            2.49204             Denmar
3     0.34699            2.46531             Norway
4     0.45811            2.45176             Canada

In [37]:
# Q11. - Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

string_3 = "Data science is the study to extract meaningful insights for business_.  Best jobs can pay up to $322,500 per year."
string_4 = "Python is a popular programming language. It is used for developing websites and software, data analysis etc_."
pattern = r"[a-zA-Z0-9_]+"
print(re.findall(pattern, string_3))
print(re.findall(pattern, string_4))

['Data', 'science', 'is', 'the', 'study', 'to', 'extract', 'meaningful', 'insights', 'for', 'business_', 'Best', 'jobs', 'can', 'pay', 'up', 'to', '322', '500', 'per', 'year']
['Python', 'is', 'a', 'popular', 'programming', 'language', 'It', 'is', 'used', 'for', 'developing', 'websites', 'and', 'software', 'data', 'analysis', 'etc_']

In [38]:
# Q12. Write a Python program where a string will start with a specific number. 

test_str1 = "123_Datascience"
pattern = r"^\d+"
result = re.match(pattern, test_str1)
print(result)

<re.Match object; span=(0, 3), match='123'>

In [39]:
# Q13. Write a Python program to remove leading zeros from an IP address

ip_address_with_zero = "192.168.001.001"
new_ip = re.sub(r"\b0+", '', ip_address_with_zero)
print(new_ip)

192.168.1.1

In [40]:
# Q14. Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.
#Sample text :  'On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.


sample_text = 'On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country.'
with open('sample_text.txt', 'w') as file:
    file.write(sample_text)
with open('sample_text.txt', 'r') as file:
    words_from_file = file.read()
date = re.findall(r'(\w{3,9}\s\d{1,2}(?:[a-z]{1,2}\s\d{4}))\b', words_from_file)
for date_string in date:
    print(date)

['August 15th 1947']

In [41]:
# Q15. Write a Python program to search some literals strings in a string. 
# Sample text : 'The quick brown fox jumps over the lazy dog.'

sample_text = "The quick brown fox jumps over the lazy dog."
result_7 = re.finditer(r"fox|dog", sample_text)
for match_object in result_7:
    print(match_object.group())

fox
dog

In [42]:
# Q16. Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
# Sample text : 'The quick brown fox jumps over the lazy dog.'

string_8 = "The quick brown fox jumps over the lazy dog."
result = re.search(r"\bfox\b", string_8)
print(result.group())

fox

In [43]:
# Q17. Write a Python program to find the substrings within a string.
# Sample text : 'Python exercises, PHP exercises, C# exercises'

sample_text ='Python exercises, PHP exercises, C# exercises'
result = re.search(r"exercises", sample_text)
print(result.group())

exercises

In [44]:
# Q18. Write a Python program to find the occurrence and position of the substrings within a string.

sample_text = "Nory was a catholic because her mother was a catholic and her mother was a catholic because her father was a catholic."
pattern = re.finditer(r'catholic', sample_text)
for match in pattern:
    start_position = match.start()
    end_position = match.end()
    matched_word = match.group()
    print(f"Found '{matched_word}' at position {start_position}-{end_position}")

Found 'catholic' at position 11-19
Found 'catholic' at position 45-53
Found 'catholic' at position 75-83
Found 'catholic' at position 109-117

In [45]:
# Q19. Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

def convert_date_format(inp_date):
    updated_date = re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})', r'\3-\2-\1', inp_date)
    return updated_date
inp_date = "2023-12-30"
converted_date = convert_date_format(inp_date)

print("Original date: ",inp_date)
print("New date: ",convert_date_format(inp_date))

Original date:  2023-12-30
New date:  30-12-2023

In [46]:
# Q20. Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string.The use of the re.compile() method is mandatory.
# Sample Text:"01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

sample_text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
pattern = re.compile(r"\b\d+\.\d{1,2}\b|\.\d{1,2}\b|\b\d+\.\b")
resultant_output = pattern.findall(sample_text)
print(resultant_output)

['01.12', '0132.', '2.', '145.8', '3.01', '27.25', '0.25']

In [47]:
# Q21. Write a Python program to separate and print the numbers and their position of a given string.

arget_string = "123abc is an alphanumeric number."
y = re.finditer("\d+", target_string)
for number in y:
    placed_at = number.start()
    print(f"Number: {number.group()},Positioned at: {placed_at}")

Number: 1,Positioned at: 17
Number: 2,Positioned at: 22
Number: 3,Positioned at: 37

In [48]:
# Q22. Write a regular expression in python program to extract maximum/largest numeric value from a string.
# Sample Text: 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

sample_text = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
num_val = [int(number) for number in re.findall(r"\b\d+\b", sample_text)]
Max_val = max(num_val)
print(f'Maximum value: {Max_val}')

Maximum value: 950

In [49]:
# Q23. Create a function in python to insert spaces between words starting with capital letters.
# Sample Text: “RegularExpressionIsAnImportantTopicInPython"

sample_text = "RegularExpressionIsAnImportantTopicInPython"
resultant_string = re.sub(r"([a-z])([A-Z])", r"\1 \2", sample_text)
print(resultant_string)

Regular Expression Is An Important Topic In Python

In [50]:
# Q24. Python regex to find sequences of one upper case letter followed by lower case letters

sample_text = "Tableau and Powerbi are two powerful tools for Business Intelligence and data visualisation."
pattern_text = re.findall(r'[A-Z][a-z]+', sample_text)
print(pattern_text)

['Tableau', 'Powerbi', 'Business', 'Intelligence']

In [51]:
# Q25. Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.

sample_text = "Hello hello world world"
resultant_pattern = re.sub(r'\b(\w+)(\s+\1)+\b', r'\1', sample_text)
print(resultant_pattern)

Hello hello world

In [52]:
# Q26. Write a python program using RegEx to accept string ending with alphanumeric character.

target_string = "An alphanumeric character is Datascience123"
result = re.search (r"\w+$", target_string)
if result:
    print("The string is ending with alphanumeric character")
else:
    print("Invalid string")

The string is ending with alphanumeric character

In [53]:
# Q27. Write a python program using RegEx to extract the hashtags.
# Sample Text: """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

sample_text = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
result = re.findall(r"#\w+", sample_text)
print(result)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [54]:
# Q28. Write a python program using RegEx to remove <U+..> like symbols
#Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.
#Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"

sample_text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
result_text = re.sub(r'<U\+[0-9A-Za-z]+>', '', sample_text)
print(result_text)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [55]:
# Q29. Write a python program to extract dates from the text stored in the text file.
#Sample Text:Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.

sample_text = "Ron was born on 12-09-1992 and he was admitted to school 15-12-1999."
with open('sample_text.txt', 'w') as file:
    file.write(sample_text)
with open('sample_text.txt', 'r') as file:
    data_from_file = file.read()
date_pat = re.compile(r'\b\d{2}-\d{2}-\d{4}\b')
output_dates = date_pat.findall(data_from_file)
print("Expected Dates:")
for date in output_dates:
    print(date)

Expected Dates:
12-09-1992
15-12-1999

In [56]:
# Q30. Create a function inpython to remove all words from a string of length between 2 and 4.
#The use of the re.compile() method is mandatory.

sample_text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
text_pattern = re.compile(r'\b\w{2,4}\b')
result_output = text_pattern.sub('', sample_text)
print(result_output)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.